{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
    <section class="container py-4 my-3">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <h5>Réinitialisation de mot de passe</h5>
                {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email) }}
                <button type="submit" class="btn btn-primary btn-sm">Envoyer</button>
                {{ form_end(requestPassForm) }}
            </div>
        </div>

    </section>
{% endblock %}
