<h1>Activer votre compte</h1>
<p>Bonjour
    {{ user.fullName }}</p>
<p>Votre inscription sur le site de l'école Mamadou TRAORE est à valider
                                    en cliquant sur le lien ci-dessous :</p>
<p>
    <a href="{{ absolute_url(path('app_verify_user',{token: token})) }}">
        {{ absolute_url(path('app_verify_user',{token: token})) }}</a>
</p>
<p>Ce lien expirera dans 3 heures</p>
